@import url(https://fonts.googleapis.com/css?family=Rock+Salt|Raleway);

html,
body {
    width: 100%;
    height: 100%;
    color: #555;
    font-family: "Raleway";

}

h1,
h2 {
    font-family: "Rock Salt";
}

/* Header */
.header {
	padding-top: 1%;
	position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/V2Cv2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */
.about {
    padding: 3.7em;
}


/* Custom Button Styles */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    vertical-align: bottom;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    vertical-align: bottom;
}

.btn-about {
    border-radius: 0;
    color: #fff;
    background-color: #31708f;
    margin-top: 0.2em;
}

.btn-about:hover,
.btn-about:focus,
.btn-about:active {
    color: #fff;
    background-color: #1e4b61;
}
